USE [EgitimKampiDb]
GO
/****** Object:  Table [dbo].[TblCategory]    Script Date: 8.04.2025 00:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
 CONSTRAINT [PK_TblCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOrder]    Script Date: 8.04.2025 00:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOrder](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderCustomer] [varchar](50) NULL,
	[ProductCount] [tinyint] NULL,
	[ProductUnitPrice] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TblOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblProduct]    Script Date: 8.04.2025 00:20:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblProduct](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[ProductStatus] [bit] NULL,
 CONSTRAINT [PK_TblProduct] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblCategory] ON 

INSERT [dbo].[TblCategory] ([CategoryId], [CategoryName]) VALUES (1, N'Ana Yemekler')
INSERT [dbo].[TblCategory] ([CategoryId], [CategoryName]) VALUES (2, N'Tatlılar')
INSERT [dbo].[TblCategory] ([CategoryId], [CategoryName]) VALUES (3, N'Salatalar')
SET IDENTITY_INSERT [dbo].[TblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TblProduct] ON 

INSERT [dbo].[TblProduct] ([ProductId], [ProductName], [ProductPrice], [ProductStatus]) VALUES (1, N'Mercimek Çorbası', CAST(60.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TblProduct] ([ProductId], [ProductName], [ProductPrice], [ProductStatus]) VALUES (2, N'Yayla Çorbası', CAST(65.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TblProduct] ([ProductId], [ProductName], [ProductPrice], [ProductStatus]) VALUES (3, N'Tavuk Suyu Çorbası', CAST(80.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TblProduct] OFF
GO
